# URL API của Backend (Mặc định khi chạy cục bộ: http://localhost:5000/api)
# Khi deploy Vercel thì điền: https://blog-r6e6.vercel.app/api
VITE_API_URL=http://localhost:5000/api

# URL của trang Public Blog
VITE_BLOG_URL=http://localhost:3000
